---
interface Props {
  references: Array<{
    title: string;
    author: string;
    year: number;
    link?: string;
  }>;
}

const { references } = Astro.props;
---

<section class="references">
  <h2>References</h2>
  <ol class="references">
    {references.map((ref, index) => (
      <li>
        {ref.link ? (
          <a 
            href={ref.link} 
            target="_blank" 
            rel="noopener noreferrer"
            class="text-primary hover:underline"
          >
            {ref.author}, ({ref.year})
          </a>
        ) : (
          <span>{ref.author}, ({ref.year})</span>
        )}. {ref.title}
      </li>
    ))}
  </ol>
</section>